@charset 'UTF-8';

html, html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 1vw;
  background: white;
  /*display: flex;*/
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/*a, a:visited {
    color: inherit;
}*/
header {
  position: fixed;
  padding: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30000;
}
.site-logo {
  position: relative;
  display: block;
  float: left;
  width: 10vw;
}
.site-logo img {
  width: 100%;
}
.logo {
  opacity: 1;
}
.site-nav {
  position: relative;
  float: right;
  z-index: 400;
  top: 0;
  left: 0;
  /*display: block !important;*/
  width: 80%;
  padding: .75em 1em 0 0;
  opacity: .95;
  background: none;
}
.site-nav ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
}
.site-nav ul li {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.5em;
}
.site-nav ul li a {
  font-size: .85em;
  padding-bottom: .5em;
  text-decoration: none;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
}

.site-nav ul li a:hover {
  outline: none;
  border-bottom: 1px solid white;
}

.nav_active{
  border-bottom: 1px solid #151420;
}

.hero {
  position: static;
  height: 54vw;
  background-image: url(images/abe_morning.JPG);
  background-size: 100%;
}

.about {
  position: static;
  height: 54vw;
  background-image: url("images/capital_night.JPG");
  background-size: 100%;
}
.gallery {
  position: static;
  height: 54vw;
  background-image: url("images/philly_wide.JPG");
  background-size: 100%;
}
.hero-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #fff;
  position: absolute;
  z-index: 20000;
  padding-top: 0em;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h2 {
	font-weight: 100;
	font-size: 2em;
    line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 13%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
h1 {
  margin-bottom: 1.5%;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .85em;
  margin-left: .7em;
  font-size: 8.5vw;
}
#aboutH {
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .5em;
  margin-left: .7em;
  font-size: 8.5vw;
	line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 13%;
}
h2.galleryH {
	font-weight: 100;
	font-size: 2em;
    line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 17%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
h3 {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2.75;
  letter-spacing: .35em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
.intro {
  position: relative;
  color: #2c291f;
  background: #fff;
  padding: 12.5em 6em 14.5em;
}
.intro-text {
  position: relative;
}
.intro p {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 2.5em;
  line-height: 1.8;
  position: relative;
  z-index: 200;
  text-align: center;
  letter-spacing: .325em;
  text-transform: uppercase;
}
.artworks, .next-artworks {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.artwork, .next-artwork {
  display: flex;
}
.artwork .artwork-piece {
  padding: 8% 0 8% 23.5%;
  background-image: linear-gradient( 135deg, rgb(126, 124, 105) 0%, rgb(77, 71, 51) 100%);
  width: 50%;
}
.next-artwork .next-artwork-piece {
  padding: 8% 23.5% 8% 0;
  background-image: linear-gradient( 135deg, rgb(156, 149, 124) 0%, rgb(71, 64, 38) 100%);
  width: 50%;
}
.artwork-piece figure {
  position: relative;
}
.next-artwork-piece figure {
  position: relative;
}
.artwork-piece figure img {
  position: relative;
  z-index: 100;
}
.next-artwork-piece figure img {
  position: relative;
  z-index: 100;
}
.artwork .artwork-description {
  background: #2c291f;
  color: #fff;
  width: 50%;
  padding: 11.25em 13em 11.5em;
}
.next-artwork .next-artwork-description {
  background: #1f212c;
  color: #fff;
  width: 50%;
  padding: 11.25em 0 11.5em 13em;
}
.artwork-title, .next-artwork-title {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 3em;
  font-weight: 100;
  padding: 2em 0 0 0;
  letter-spacing: .36em;
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 9em;
  margin-bottom: .5em;
}
.artwork-text, .next-artwork-text {
  font-size: 1.1em;
  line-height: 1.9;
  opacity: .8;
  max-width: 20em;
}
.see-more, .next-see-more {
  font-size: 1em;
  display: inline-block;
  margin-top: 4.1em;
  padding: 0 0 .4em 0;
  transition: all .3s;
  text-decoration: none;
  color: beige;
}
.see-more:hover {
  border-bottom: 1px solid white;
}
footer {
  margin-top: -3.5em;
  padding-top: 10em;
  background-image: linear-gradient( -45deg, rgb(60, 73, 83) 0%, rgb(166, 205, 221) 100%);
}
.footer-content {
  width: 64%;
  margin: 0 auto;
	padding-bottom:1.7em;
}
.footer-social {
  display: block;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.footer-social li {
  display: inline-block;
  margin: 0 1.2em;
}
.footer-social li a {
  line-height: 3.5em;
  display: inline-block;
  width: 4em;
  height: 4em;
  text-align: center;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 50%;
}
.footer-social li a:hover {
  border-color: #fff;
  background: #fff;
}
.footer-social li a img {
  width: auto;
  height: 1em;
}
.footer-social li a .social-hover {
  display: none;
}
.footer-social li a:hover .social-default {
  display: none;
}
.footer-social li a:hover .social-hover {
  display: inline;
}
.footer-info {
  clear: both;
  padding-top: 5em;
}
.footer-info p {
  font-size: .8em;
  color:#fff;
  line-height: 1.55;
  max-width: 36em;
  margin-bottom: 1.7em;
}
.footer-disclaimer {
  width: 60%;
  position: relative;
}
.footer-credit {
  float: right;
  width: 40%;
  text-align: right;
  position: relative;
}
.footer-legal {
  opacity: .8;
}
.footer-credit a:hover {
  text-decoration: none;
}

/*  PORTFOLIO  */


.gal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 40px 20px;
}

.gal-container .heading{
    width: 50%;
    padding-bottom: 50px;
}

.gal-container .heading h3{
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.gal-container .heading h3 span{
    font-weight: 100;
}

.gal-container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gal-container .box .galCol{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.gal-container .box .galCol img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.gal-container .btn{
    margin: 40px 0 70px 0;
    background-color: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.gal-container .btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
}